body {
  font-family: sans-serif;
  background-color: #232323;
  color: #fff;
}

input {
  margin-right: 0.5rem;
}

label {
  margin-right: 1rem;
}

.yellow {
  color: #ffe400;
}

.green {
  color: #14a76c;
}

.orange {
  color: #ff652e;
}
