body {
  font-family: sans-serif;
  background-color: #efefef;
  color: #333;
}

input {
  margin-right: 0.5rem;
}

label {
  margin-right: 1rem;
}

.blue {
  color: #1073cf;
}

.green {
  color: #1ca30a;
}

.red {
  color: #ff3c3d;
}
